<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>오늘의 칼로리 | Login</title>

</head>
<body>
{#헤드#}
    <section class="hero is-success">
        <div class="hero-body">
            <div class="logo-background">
            </div>
            <p class="title">
                오늘의 칼로리
            </p>
            <p class="subtitle">
                Write your Kcal
            </p>
        </div>
    </section>
</body>
</html>