<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <title>오늘의 칼로리 | Login</title>

    <style>
        .is-hidden {
            display: none !important;
        }
    </style>

    <script>
        $(document).ready(function () {
            if (document.cookie.match('mytoken') != null) {
                $('#buttonLogin').toggleClass("is-hidden")
            }
        });

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = '/login'
        }
    </script>

</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="./">
            <img src="https://media.vlpt.us/images/kbs2082/post/c8014a5d-dcc9-4961-918b-a4685a9f1259/logo.png" width="112" height="108">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>
    </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a href="/profile" class="button btn_mypage">
                    <strong>My Page</strong>
                </a>

                <div id="buttonLogin" class="is-hidden">
                    <a class="button is-light" onclick="sign_out()">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>

<section class="hero is-success banner">
    <div class="hero-body">
        <p class="title">
            오늘의 칼로리
        </p>
        <p class="subtitle">
            Write your Kcal
        </p>
    </div>
</section>
</body>
</html>