<!DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# og 파비콘 #}

{#    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">#}
{#    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">#}
{#    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="스위터 - 세상을 달달하게"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>


    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!--font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

     <!--벌마 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!--css-->
    <link rel="stylesheet" href="../static/login.css" />


    <title>오늘의 칼로리 | Login</title>

    <script>
        $(document).ready(function () {

            $.removeCookie('mytoken', {path: '/'});
        });
    function sign_in() {
        let username = $("#userid").val()
        let password = $("#userpw").val()

        if (username == "") {
            $("#help-id-login").text("아이디를 입력해주세요.")
            alert('아이디를 입력해주세요');
            $("#input-username").focus()
            return;
        } else {
            $("#help-id-login").text("")
        }

        if (password == "") {
            $("#help-password-login").text("비밀번호를 입력해주세요.")
            alert('비밀번호를 입력해주세요');
            $("#input-password").focus()
            return;
        } else {
            $("#help-password-login").text("")
        }

        $.ajax({
            type: "POST",
            url: "/sign_in",
            data: {
                username_give: username,
                password_give: password
            },
            success: function (response) {
                if (response['result'] == 'success') {
                    $.cookie('mytoken', response['token'], {path: '/'});
                    window.location.replace("/")
                } else {
                    alert(response['msg'])
                }
            }
        });
    }

    function enterkey() {
        if (window.event.keyCode === 13) {
            // 엔터키가 눌렸을 때 실행할 내용
             sign_in();
        }
    }



    </script>

</head>
<body>

{#헤드#}
    <section class="hero is-success">
        <div class="hero-body">
            <div class="logo-background">
            </div>
            <p class="title">
                오늘의 칼로리
            </p>
            <p class="subtitle">
                Write your Kcal
            </p>
        </div>
    </section>


{#로그인#}
    <div class="login">
        <div class="inner">
            <div class="id-section">
                <label for="userid"></label>
                <span>아이디</span>
                <input id="userid" type="text" class="id" placeholder="아이디" onkeyup="enterkey()"/>
                <i class="far fa-user"></i>
            </div>
            <div class="pw-section">
                <label for="userpw"></label>
                <span>비밀번호</span>
                <i class="fas fa-lock"></i>
                <input id="userpw" type="password" class="pw" placeholder="비밀번호" onkeyup="enterkey()"/>
            </div>
            <div class="info">
                <p id="help-id-login"></p>
                <p id="help-password-login" ></p>
            </div>
            <div class="btn-section">
                <button onclick="sign_in()" href="javascript:enterkey();">로그인</button>
            </div>
        </div>
    </div>

{#회원가입#}
    <div class="join">
        <span>아직 회원이 아니신가요?</span>
        <button onclick="location='/member/join'">회원가입하기</button>
    </div>

</body>
</html>
