<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/e917cec6a6.js" crossorigin="anonymous"></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <!--벌마 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <title>스파르타코딩클럽 | 나홀로 메모장</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .jumbotron {
            margin-top: 50px;
            background-color: #72a772;
        }

        .text1 {
            color: white;
        }

        #btn-post-box {
            background-color: rgba(27, 91, 27, 0.88);
        }

        #btn-fix-box {
            background-color: rgba(27, 91, 27, 0.88);
        }

        .btn_register {
            margin-top: 20px;
            background-color: #72a772;
        }

        .hero-body {
            background-color: #7ac07a;
        }

        .btn_mypage {
            background-color: #72a772;
        }


        .wrap {
            width: 900px;
            margin: auto;

        }

        #cards-box {
            object-fit: cover;

            display: flex;

            padding: 50px 300px 50px 300px;
            margin: auto;

        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: #396270 solid;
            border-radius: 5px;
        }

        #cards-box2 {

            margin: 50px 300px 0 300px;
        }

        .table {
            font-size: xx-large;
            width: 80%;
            max-width: 800px;
            margin: auto;
            table-layout: fixed;
        }

        #cards-box {

            display: flex;
            justify-content: center;
            padding: 50px 300px 50px 300px;
            margin: auto;

        }

        .section_card {
            display: flex;
            justify-content: center;
            text-align: center;

        }

        .card_img {
            width: 300px;
            height: 200px;
        }

        .card-body {
            background-color: #ebf6eb;
        }

    </style>
    <script>
        //let userid = '{{ userid }}'
        $(document).ready(function () {
            listing();
            showkcal();
        });

        function openmain() {
            window.location.href = "/"
        }

        function openClose() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
                $("#btn-post-box").text("입력하기");
            } else {
                $("#post-box").show();
                $("#btn-post-box").text("닫기");
            }
        }


        //프로필 등록
        function posting() {
            let height = $('#height').val()
            let weight = $("#weight").val()
            let goal_cal = $("#goal_cal").val()
            if (height == "") {
                alert("키를 입력해주세요")
                $("#height").focus()
                return;
            }
            if (weight == "") {
                alert("몸무게를 입력해주세요")
                $("#weight").focus()
                return;
            }
            if (goal_cal == "") {
                alert("하루목표 칼로리를 입력해주세요")
                $("#goal_cal").focus()
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/profile_post",
                data: {myid_give: "{{ userid }}", heigt_give: height, weight_give: weight, goal_cal_give: goal_cal},
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = "/profile?status_give=old"
                }
            });
        }

        //수정
        function adjusing() {
            let height = $('#height').val()
            let weight = $("#weight").val()
            let goal_cal = $("#goal_cal").val()
            if (height == "") {
                alert("키를 입력해주세요")
                $("#height").focus()
                return;
            }
            if (weight == "") {
                alert("몸무게를 입력해주세요")
                $("#weight").focus()
                return;
            }
            if (goal_cal == "") {
                alert("하루목표 칼로리를 입력해주세요")
                $("#goal_cal").focus()
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/profile_adjust",
                data: {myid_give: "{{ userid }}", heigt_give: height, weight_give: weight, goal_cal_give: goal_cal},
                success: function (response) {
                    alert("수정되었습니다.")
                    window.location.href = "/profile?status_give=old"


                }
            });
        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/api/profile?myid={{ userid }}",
                data: {},
                success: function (response) {
                    let profiles = response['profiles']
                    let status = response['status']
                    let userid = "{{ userid }}"
                    console.log(userid)
                    console.log(profiles)
                    console.log(status)
                    if (status == 'old') {
                        for (let i = 0; i < profiles.length; i++) {
                            let height = profiles[i]['height']
                            let weight = profiles[i]['weight']
                            let goal_cal = profiles[i]['goal_cal']
                            let bmiscore = profiles[i]['bmiscore']
                            let bmi = profiles[i]['bmi']
                            let bmicolor = ""
                            if (bmi == "정상") {
                                bmicolor = "color:green"
                            } else if (bmi == "저체중") {
                                bmicolor = "color:blue"
                            } else {
                                bmicolor = "color:red"
                            }
                            let temp_html = `<li >${userid}님의 프로필&nbsp;&nbsp;&nbsp;</li><li >키 :${height}&nbsp;&nbsp;&nbsp;</li>
<li >몸무게 : ${weight}&nbsp;&nbsp;&nbsp;</li>
<li >일일 최대 섭취 칼로리 : ${goal_cal}&nbsp;&nbsp;&nbsp;</li>
<li >bmi : ${bmiscore} <span style=${bmicolor}> ${bmi}</span >&nbsp;&nbsp;&nbsp;</li>
                            `
                            $('#tbody-box').append(temp_html)
                        }
                    } else {
                        let temp_html = `<li >${userid}님! 프로필을 입력해주세요!!&nbsp;&nbsp;&nbsp;</li>`
                        $('#tbody-box').append(temp_html)

                    }
                }
            })
        }

        function showkcal() {
            $('#cards-box').empty()
            let dt = new Date()
            let date = dt.getFullYear() + "년&nbsp " + (dt.getMonth() + 1) + "월&nbsp " + dt.getDate() + "일"
            let food_date = date

            $.ajax({
                type: "GET",
                url: "/api/profile_cal",
                data: {food_date: food_date},
                success: function (response) {
                    let foods = response['all_foods']
                    // var sum = new Array()
                    // for ( let i=0;i<foods.length;i++){
                    //     sum[i]=0
                    // }
                    // for (let i = 0; i < foods.length; i++) {
                    //     for (let k = 0; k < foods.length; k++) {
                    //         if (foods[i]['food_name']==foods[k]['food_name']){
                    //             console.log(foods[k]['food_kcal'])
                    //             sum[i]+=(foods[k]['food_kcal'])
                    //
                    //         }
                    //
                    //
                    //     }
                    //
                    // }
                    // console.log(sum)
                    for (let i = 0; i < foods.length; i++) {
                        let food_name = foods[i]['food_name']
                        let food_date = foods[i]['food_date']
                        let food_kcal = foods[i]['food_kcal']
                        let file = foods[i]['file']
                        let temp_html = `<div class="card card_made">
                                               <img class="card-img-top card_img"
                                                    src="../static/img/${file}"
                                                    alt="Card image cap">
                                               <div class="card-body">
                                                   <a class="card-title">${food_name}</a>
                                                   <p class="card-text">날짜: ${food_date}</p>
                                                   <p class="card-text comment">${food_kcal} Kcal</p>
                                               </div>
                                           </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

    </script>


</head>

<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="../static/logo.PNG" width="112" height="108">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>
    </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button btn_mypage" onclick="openmain()">
                    <strong>오늘의칼로리</strong>
                </a>
                <a class="button is-light" onclick="logout()">
                    Log out
                </a>
            </div>
        </div>
    </div>
    </div>
</nav>

<section class="hero is-success">
    <div class="hero-body">
        <p class="title">
            오늘의 프로필
        </p>
        <p class="subtitle">
            Write your profile
        </p>
    </div>
</section>

<div class="wrap">

    {% if status=="new" %}
        <div class="jumbotron">
            <h1 class="display-4 text1">프로필 입력기</h1>
            <p class="lead text1">프로필이 아직 입력이 안되었습니다. 입력해주세요!</p>
            <hr class="my-4">
            <p class="lead">
                <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">입력하기
                </button>
            </p>
        </div>
        <div id="post-box1" class="form-post" style="display:none">
            <div>
                <div class="form-group">
                    <label for="height">키cm</label>
                    <input id="height1" class="form-control" placeholder="0000">
                </div>
                <div class="form-group">
                    <label for="weight">몸무게</label>
                    <input id="weight1" class="form-control" placeholder="0000">
                </div>
                <div class="form-group">
                    <label for="goal_cal">하루 목표 칼로리(성인남성:2400,성인여성:2200) </label>
                    <input id="goal_cal1" class="form-control" placeholder="0000Kcal">
                </div>


                <button type="button" class="btn btn-primary btn_register" onclick="posting()">등록</button>
            </div>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1 class="display-4 text1">프로필 수정기</h1>
            <p class="lead text1">기존 프로필 수정가능합니다.</p>
            <hr class="my-4">
            <p class="lead">
                <button onclick="openClose()" id="btn-fix-box" type="button" class="btn btn-primary">수정하기
                </button>
            </p>
        </div>


        <div id="post-box" class="form-post" style="display:none">
            <div>
                <div class="form-group">
                    <label for="height">키cm</label>
                    <input id="height" class="form-control" placeholder="0000">
                </div>
                <div class="form-group">
                    <label for="weight">몸무게</label>
                    <input id="weight" class="form-control" placeholder="0000">
                </div>
                <div class="form-group">
                    <label for="goal_cal">하루 목표 칼로리(성인남성:2400,성인여성:2200) </label>
                    <input id="goal_cal" class="form-control" placeholder="0000Kcal">
                </div>


                <button type="button" class="btn btn-primary btn_register" onclick="adjusing()">수정</button>
            </div>
        </div>
    {% endif %}
</div>

<table class="table">

    <tbody id="tbody-box">


    </tbody>
</table>


<section class="section_card">
    <div id="cards-box" class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card">
            <img class="card-img-top"
                 src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <a target="_blank" href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
            </div>
        </div>
    </div>
</section>

</body>

</html>

